@import "tailwindcss";

@layer base {
  :root {
    --bg-deep: #050505;
    --bg-onyx: #121212;
    --neon-cyan: #00f2ff;
    --text-primary: #f8fafc;
    --text-secondary: #cbd5e1;
  }

  body {
    background-color: var(--bg-deep);
    color: var(--text-primary);
    font-family: 'Inter', system-ui, sans-serif;
  }
}
